.box {
    border-radius: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

.box:hover .userPreviewWrapper {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

.box a {
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
}

.box a.active .userPreviewWrapper {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
}

.userPhotoWrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.userPreviewWrapper {
    display: grid;
    grid-template-columns: 3fr 10fr;
    height: 32px;
    padding: 5px;
    transition: all .2s linear;
}

.userPhoto {
    height: 100%;
    margin: 0;
}

.userName {
    display: flex;
    align-items: center;
    padding-left: 7px;
}