.nav {
    grid-area: nav;
    background-color: #ffffff;
    padding: 20px;
    border: solid rgba(0, 0, 0, .5) 1px;
    border-radius: 5px;
    margin-right: 5px;
}

.item a {
    color: rgba(0,0,0,.5);
    text-decoration: none;
}

.item a.active {
    color: rgba(0,0,0,.5);
}