*{
  box-sizing: border-box;
}

.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 13fr;
  grid-template-areas: 'header header' 'nav profile';
  max-width: 1240px;
  margin: 0 auto;
  min-height: 760px;
  grid-gap: 10px ;
}
.app-wrapper-content {
  box-sizing: border-box;
  grid-area: profile;
  border-radius: 5px;
  border: solid #aaaaaa 1px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .app-wrapper{
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'profile';
  }
}

