.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 13fr;
  grid-template-areas: 'header header' 'nav profile';
  max-width: 1240px;
  margin: 0 auto;
  min-height: 600px;
}
.app-wrapper-content {
  grid-area: profile;
  background-color: burlywood;
}

